# dependencies
node_modules

# next.js
.next/
out/

# misc
.DS_Store
*.pem

# env files
.env*.local
.env

# ts build
tsconfig.tsbuildinfo

# CDK assets
.cdk.staging
cdk.out
cdk.context.json
# Large Stockfish engine files (>50MB)
public/engines/stockfish-16.1/*.wasm
public/engines/stockfish-16/*.wasm
public/engines/stockfish-17/*.wasm
